@import '../../App.scss';

.header {
    @include flex-space-between;
    padding: 20px 30px 20px;
    border-bottom: 1px solid #e0e9f1;
}

h2 {
    color: $primaryBlue;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 span {
    font-weight: 300;
}

.month, .tasksCount {
    color: $secondaryGrey;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.tasksCount {
    margin-top: 25px;
    text-align: center;
}

.tasksCount span{
    font-weight: 500;
}