@import '../../../App.scss';

.taskItem {
    @include flex-space-between;
    align-items: center;
    border-bottom: 1px solid $secondaryGrey;
    padding: 10px 30px;
    box-sizing: border-box;
}

.taskBox {
    border-left: 5px solid transparent;
    &:hover {
        border-left: 5px solid #03a9f4;
    }
}

.task {
    width: 70%;
    color: $primaryGrey;
    text-align: left;
    font-size: 20px;
}

.done {
    text-decoration: line-through;
    color: $secondaryGrey;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    &:checked {
        accent-color: $primaryRed;
    }
}
