@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$primaryBlue: #595de6;
$primaryRed: #e46c70;
$primaryGrey: #82829c;
$secondaryGrey: #b8b9c9;

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

.App {
  height: 100vh;
  width: 100%;
  background: $primaryBlue;
  background: linear-gradient(195deg, rgba(89,93,230,1) 0%, rgba(89,93,230,1) 43%, rgba(228,108,112,1) 43%);
  text-align: center;
  padding: 5% 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.container {
  width: 50%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
}

.btn {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  border: none;
  background-color: $primaryRed;
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 110px;
  right: 35px;
}

